<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>@ViewBag.Title - EMS APP</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Employee Management System", "Dashboard", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>            
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("View", "ViewEmployeeList", "Home")</li>
                    <li>@Html.ActionLink("Add", "AddEmployee", "Home")</li>
                    <li>@Html.ActionLink("Edit", "EditEmployee", "Home")</li>

                    if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Delete", "DeleteEmployee", "Home")</li>
                        <li>@Html.ActionLink("Map Role", "MapRole", "Home")</li>
                    }
                }
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {                    
                    <li><a class="text-capitalize">Dear - @User.Identity.Name</a></li>
                    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                }
            </ul>
        </div>           
    </div>
</div>

<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Wipro Technologies</p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
